a {
  text-decoration:none;
}
main {
  padding:120px;
  padding-bottom:80px;
  padding-top:60px;
}
body {
  font-size:14px;
  line-height: 24px;
}
.container {
width:900px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.second-header {
min-height:72px;
margin-bottom:30px;
padding:0 140px;

}
.main-menu {
  float:left;
}
.login-menu {
  float:right;
  font-size:16px;
}
.main-menu > li {
display:inline-block;
margin:0;
margin-right:40px;
float: left;
font-size:16px;
padding:0;
}
.main-menu > li:last-child {
  margin-right:0px;
}
.breadcrumbs {
  font-size:14px;
}
.way-to-page {
margin-bottom:60px;
}
h1.title {
  padding:0 185px;
  margin-bottom:75px;
}
.info-about-us {
  float:left;
  width:400px;
  min-height:425px;
  margin-right:80px;
}
.info-about-us ul {
  padding:0;
  margin:0;
  list-style-image:url(../img/ul-shape.svg);
  margin-left:20px;
  margin-bottom:70px;
}
.info-about-us ul>li {
  margin-bottom:15px;
}
.info-about-us h2, .idk-block h2 {
  margin-bottom:40px;
}

.idk-block {
  float:left;
  width:400px;
  min-height:425px;
}
.idk-block p, .info-about-us p {
  width:380px;
}
.price-list {
  width:460px;
  min-height:125px;
  border:2px solid #000101;
  box-sizing: border-box;
  border-collapse: collapse;
  margin-bottom:125px;
}
.price-list td {
  padding:12px;
    border:2px solid #000101;
    padding-left:18px;
}
footer {
  padding:0 120px;
}
.footer-info {
  width:310px;
  float:left;
  margin-right: 90px;
}
.friendship {
  width:140px;
  float:left;

}
.copyright {
  float:right;
  width:140px;
}
